<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([a-z0-9-]+)/?([a-z0-9-\/]+)?/?$ /FULL/PATH/TO/YOUR/public_html/example/index.php?path=$1&get=$2 [NC,L,QSA]
    RewriteRule ^(include|core)\/?(.*)?$ - [R=404,L,NC]
</IfModule>
